.item-container-bk{
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    margin: 0;
}

.item-container-main{
    margin: 0 auto;
    width: 1100px;
    max-width: 90%;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter{
    padding-top: 10px;
    background-color: var(--dkbl);
    color: white;
}
