.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar_height);
    color: white;
    background-color: var(--dkbl);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content{
    width: 1500px;
    max-width: 90%;
    display: grid;
    grid-template-columns: 100px auto 170px;;

}


.navitem-container{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1px;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navitem-container a{
    padding: 8px;
    border-radius: 14px;
    margin-right: 14px;
    color: white;
    text-decoration: none;
}

.navitem-container a:hover{
    background-color: white;
    color: var(--dkbl);
}

.logo-container img{
    margin-top: 3px;
    height: 35px;
    width: 39px;
}

.search-bar{
    display: flex;
    justify-content:center;
    width: 90%;
    margin: auto auto; 
}

.search-bar input{
    width:1000px;
    max-width: 80%;
    height: 25px;
    border-radius: 10px 0 0 10px;
    border: 0;
}

.search-bar button{
    width: 50px;;
    height: 27px;
    border-radius: 0 10px 10px 0;
    border: 0;
}
