.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    color: white;
    background-color: var(--dkbl);
    display: grid;
    grid-template-rows: 10% 90%;
}

.navbar:hover{
    width: 150px
}

.navitem-container{
    display: flex;
    flex-direction: column-reverse;
    margin-right: 1px;
    align-items: center;
    justify-content: top;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navitem-container a{
    padding: 8px;
    border-radius: 14px;
    margin-bottom: 14px;
    color: white;
    text-decoration: none;
}

.navitem-container a:hover{
    background-color: white;
    color: var(--dkbl);
}

.logo-container img{
    height: 40px;
    width: 49px;
    margin-left: 13px;
}
