
.formd{
    flex-direction: column;
}

.formd p, select{
    margin: 20px 0;
} 




.input-normal{
    text-align:center;
    width: 200px;
    height: 20px;
    max-width: 80%;
    margin: 10px 0;
}
